body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar-container {
  /* width: 100%;
  background: #161616; */
}

.nav-bar {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #161616;
}

.nav-bar-buttons {
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-bar-buttons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.nav-bar-buttons a::after {
  content: '';
  width: 0;
  height: 2px;
  background: orange;
  display: block;
  transition: 0.5s ease;
}

.nav-bar-buttons a:hover::after {
  width: 100%;
  cursor: pointer;
}

h1 {
  color: white;
  text-transform: uppercase;
}

.header-image-container {
  /* background-image: url('./images/headerImage.jpg');
  object-fit: cover;
  background-repeat: no-repeat; */
  height: 600px;
  position: relative;
  margin-bottom: 50px;
}

.header-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(1px) brightness(65%);
  position: relative;
  padding: 90px 0;
}

h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  color: white;
  text-shadow: 1px 1px 1px rgba(110, 46, 3, 0.7);
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
}

.start-page-text,
.earlier-projects-text {
  width: 50%;
  text-align: center;
  margin: 50px auto 10px auto;
  padding: 50px 0;
}

.start-page-text {
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
  padding-top: 150px;
}

.start-page-link-container {
  text-align: center;
  margin: 50px auto 10px auto;
}

.start-page-link {
  text-decoration: none;
  width: 50%;
  color: black;
  transition: letter-spacing 0.4s;
}

.start-page-link:hover {
  color: orange;
  letter-spacing: 1px;
  transition: 0.2s ease;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  border: 2px solid red;
}

.sliderimg {
  width: 60%;
  height: 500px;
  object-fit: cover;
  display: flex;
  margin: auto;
}

.image-container {
  text-align: center;
}

.contact-container {
  text-align: center;
}

.contact-title {
  font-weight: bold;
}

iframe {
  width: 600px;
  height: 400px;
  border: 0;
  border: 2px solid red;
  margin: 40px 0;
}
